language: java
dist: trusty
jdk:
  - oraclejdk8
before_install:
  - chmod +x gradlew
  - chmod +x gradle/wrapper/gradle-wrapper.jar
script:
  - ./gradlew test build
after_success:
  - bash <(curl -s https://codecov.io/bash)